
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <a href="/admin/categories" class="btn btn-info">Manage Categories</a>
        <a href="/admin/products" class="btn btn-success">Manage Products</a>
        <a href="/home/logout" class="btn btn-danger">Log Out</a>
    </div>
</div>


